html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
.form-control {
  width: 200px;
  height: 40px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.05);
}
.btn-primary {
  height: 40px;
  width: 80px;
  border-radius: 10px;
  margin-left: 10px;
  box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.05);
  background-color: rgb(203, 159, 245);
  cursor: pointer;
}
.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.gallery {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.photo-card {
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  height: auto;
  margin: 15px;
  position: relative;
}
.image-container > img {
  width: 100%;
}
p {
  margin: 0;
}
.stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 0;
  background-color: blanchedalmond;
  width: 100%;
}
.stats > p {
  text-align: center;
}
.button.is-hidden {
  display: none;
}
.button {
  width: 150px;
  margin-top: 50px;
  cursor: pointer;
}
.show-more {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .photo-card {
    width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 768px) {
  .photo-card {
    width: calc((100% - 2 * 30px) / 2);
  }
}
@media screen and (min-width: 900px) {
  .photo-card {
    width: calc((100% - 4 * 30px) / 4);
  }
}
